
*{
    font-family: 'Abhaya Libre', serif;
}

body{
    font-family: 'Abhaya Libre', serif;
    margin: 0 auto;
    max-width: 900px;
    font-size: 14pt;
    min-width: 750px;
}

.title{
  padding-top: 30px;
  text-align: center;
  font-size: 44px;
}

.author{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

.sankey {
	display: inline-block;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-top: 30px;
}

.sankey .chart {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	margin: 10px 10px;
}

.chart {
	background-color: #f1f1f1;
}


/*Sankey stuff*/

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

.test {
	/*fill: blue !important*/
}