
*{
    font-family: 'Abhaya Libre', serif;
}

body{
    font-family: 'Abhaya Libre', serif;
    margin: 0 auto;
    max-width: 900px;
    font-size: 14pt;
    min-width: 750px;
}

.title{
  padding-top: 30px;
  text-align: center;
  font-size: 44pt;
}

.author{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

.sankey {
	display: inline-block;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-top: 30px;
}

.sankey .chart {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	margin: 10px 10px;
}

.chart {
	background-color: #f1f1f1;
}


/*Sankey stuff*/

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  font-size: 12pt;
}

.node text:hover {
  pointer-events: none;
  font-size: 12pt;
  opacity: 1;
}

.link {
  fill: none;
  stroke: black;
  stroke-opacity: .1;
}

.link:hover {
  stroke-opacity: .5;
}

.sankeyLabel {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}



/*Bar chart stuff*/
.bar{
  fill: #0a78c2;
}

.barText {
  fill: black;
  font-size: 12px;
  text-anchor: middle;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.bar:hover {
  fill: #666666;
}

.barTitle{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-top: 16px;
}

.axis text {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}





/*Mobile responsive styling*/

@media (max-width: 600px) {
  body {
    font-size: 25pt;
  }
}
