
*{
    font-family: 'Abhaya Libre', serif;
}

body{
    font-family: 'Abhaya Libre', serif;
    margin: 0 auto;
    max-width: 900px;
    font-size: 14pt;
    min-width: 750px;
}

.title{
  padding-top: 30px;
  text-align: center;
  font-size: 44pt;
}

.author{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 25px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

i.note, .note {
    font-family: 'Merriweather', serif !important;
    font-size: 13px;
    font-style: italic;
}

.graphNote i{
    font-family: 'Lato', sans-serif !important;
    font-size: 13px;	
}

.sankey {
	display: inline-block;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-top: 30px;
}

.sankey .chart {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	margin: 10px 10px;
}

.chart {
	background-color: #f1f1f1;
}


/*Sankey stuff*/

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  font-size: 12pt;
}

.node text:hover {
  pointer-events: none;
  font-size: 12pt;
  opacity: 1;
}

.link {
  fill: none;
  stroke: black;
  stroke-opacity: .1;
}

.link:hover {
  stroke-opacity: .5;
}

.sankeyLabel {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

#nbachart .sankeyNode{
	stroke: #0a78c2;
	fill: #0a78c2;
}

#nflchart .sankeyNode{
	stroke: #2473a8;
	fill: #2473a8;
}

#mlb4chart .sankeyNode{
	stroke: #476c85;
	fill: #476c85;
}

#nhlchart .sankeyNode{
	stroke: #666666;
	fill: #666666;
}

/*Bar chart stuff*/
.bar{
  
}

.barText {
  fill: black;
  font-size: 12px;
  text-anchor: middle;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  pointer-events: none;
}

.nbaBar .bar:hover {
  fill: #2473a8;
}

.nflBar .bar:hover {
  fill: #476c85;
}


.mlbFourBar .bar:hover {
  fill: #666666;
}

.nhlBar .bar:hover {
  fill: #476c85;
}

.barTitle{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-top: 16px;
	pointer-events: none;
}

.axis text {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  pointer-events: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.nbaBar .bar{
	fill: #0a78c2;
}

.nflBar .bar{
	fill: #2473a8;
}


.mlbFourBar .bar{
	fill: #476c85;
}

.nhlBar .bar{
	fill: #666666;
}




/*Mobile responsive styling*/

@media (max-width: 600px) {
  body {
    font-size: 25pt;
  }
}
